*,
*::before,
*::after{
	box-sizing: border-box;
}
:root {
	--ff-primary: 'Source Sans Pro',sans-serif ;
	--ff-secondary: 'Source Code Pro', monospace ;

	--fw-reg: 300;
	--fw-bold: 900;

	--clr-light: #fff;
	--clr-dark: #303030;
	--clr-accent: #16e0bd;


	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;

	--bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
	0.125em 0.125em 0.25em rgba(0,0,0,0.15);

}


@media (min-width: 800px) {
	:root {
	--fs-h1: 4.5rem;
	--fs-h2: 3.75rem;
	--fs-h3: 1.5rem;
	--fs-body: 1.125rem;

	}

}


/*General Styles*/

html {
	scroll-behavior: smooth;
}

body{
	background: var(--clr-dark);
	color: var(--clr-dark);
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	line-height: 1.6;
}

section{
	padding: 5em 2em;
}

img{
	display: block;
	max-width: 100%;
}

strong{ font-weight: var(--fw-bold) }

:focus {
	outline: 3px solid var(--clr-accent);
	outline-offset: 3px; 
}

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins' , sans-serif;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 100vh;
	background: #010615;
}
.box
{
	position: relative;
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px;
	background: #060c21;
	transition: 0.5s;
}
.box:hover
{
	height: 400px;
}
.box .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.box .imgBx img
{
	max-width: 100%;
	opacity: 0.1;
	transition: 0.5s;
}
.box:hover .imgBx img
{
	opacity: 1;

}


.box:before
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -1;
}
.box:after
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -2;
	filter: blur(40px);
}
.box:before,
.box:after
{
	background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}
.box:nth-child(2):before,
.box:nth-child(2):after
{
	background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.box:nth-child(3):before,
.box:nth-child(3):after
{
	background: linear-gradient(235deg,#772aff,#010615,#2196F3);
}
.box .content
{
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 10px;
	bottom: 10px;
	height: 90px;
	background: rgba(0,0,0,0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: 0.5s;
}
.box:hover .content
{
	opacity: 1;
}
.box .content h2
{
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 1px;
}
.box .content h2 span
{
	font-size: 14px;
	color: #fff;
	font-weight: 200;
	letter-spacing: 2px;
}
/*For the footer section*/
footer
{
	position: justify;
	left: 0px;
	bottom: 0px;
	height: 185px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.4);

}
ul
{
	position: relative;
	display: flex;
	transform-style: preserve-3d;
	transform: rotate(0deg) skew(180deg);
}
ul li 
{
	position: relative;
	list-style: none;
	width: 60px;
	height: 60px;
	margin: 0 10px;
}
ul li span 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex !important;
	justify-content: center;
	align-items: center;
	background: #333;
	color: rgba(255,255,255,0.2);
	font-size: 30px !important;
}
ul li:hover span
{
	z-index: 1000;
	transition: 0.5s;
	color: #fff;
	box-shadow: -1px 1px 1px rgba(0,0,0,0.05);
}
ul li:hover span:nth-child(5)
{
	transform: translate(40px,-40px);
	opacity: 1;
}
ul li:hover span:nth-child(4)
{
	transform: translate(30px,-30px);
	opacity: 0.8;
}
ul li:hover span:nth-child(3)
{
	transform: translate(20px,-20px);
	opacity: 0.6;
}
ul li:hover span:nth-child(2)
{
	transform: translate(10px,-10px);
	opacity: 0.4;
}
ul li:hover span:nth-child(1)
{
	transform: translate(0px,0px);
	opacity: 0.2;
}


ul li:nth-child(1):hover span
{
	background: #6cc644;
}
ul li:nth-child(2):hover span
{
	background: #55acee;
}
ul li:nth-child(3):hover span
{
	background: #25D366
}
ul li:nth-child(4):hover span
{
	background: #0077B5;
}
ul li:nth-child(5):hover span
{
	background: #e4405f;
}
/*Footer section ends here*/
